#cv
	.wrapper_cv
		.info_header
			.name_person
				%span.first
					Rudighert 
				%span.last
					Schalchli
			.profession_person
				Ingeniero Civil en Informática y Telecomunicaciones

		.column.left
			%ul.info_left
				%li.title
					Contactos
				%li.info
					Colón 3963, dpto 42 las condes, Santiago, Chile

			%ul.info_left
				%li.title
					Idiomas
				%li.info
					Lengua materna Español
					Inglés nivel medio alto


		.column.right

			.info_right
				.title
					Educación
				.area.time
					1990-2004
				.area.description
					%span.special
						Enseñanza
					Básica y Media