#principal_index	
	.content_logo
		=image_tag 'logo_storeming.png', width:"500px", height:"200px", alt:"logo"

	.members
		%ul.list_members

			%li.box_member
				.image_member
					=image_tag 'seba.png', width:"250px", height:"250px", alt:"rudy"
				.info_user
					.name
						Sebastian Moreno
					.details
						Estudiante de ingeniería civil en Informática y Telecomunicaciones. Especialidad en el desarrollo móvil IOS y Android
			%li.box_member
				.image_member
					=image_tag 'rudy.png', width:"250px", height:"250px", alt:"rudy"
				.info_user
					.name
						Rudighert Schalchli
					.details
						Ingeniero Civil en Informática y Telecomunicaciones. Actualmente founder de Bufys y desarollador front-end del sitio. 

			%li.box_member
				.image_member
					=image_tag 'james.png', width:"250px", height:"250px", alt:"rudy"
				.info_user
					.name
						James Martinson
					.details
						Egresado de ingeniería civil en Informática y Telecomunicaciones. Especialidad en reconocimento digital de patrones en imágenes mediante las radiofrecuencia
