#principal_index  
  .content_logo
    =image_tag 'logo_storeming.png', width:"500px", height:"200px", alt:"logo"

  .members
    %ul.list_members
      -awesome_print @user
      -@user.each do |u|
        %li.box_member
          .image_member
            =image_tag u[:image], alt:"rudy"
          / .info_user
          /   .name
          /     =u[:name]
          /   .details
          /     =u[:details]
          / .bottom
          /   %a.see_cv{href:"#"}
          /     Ver Curriculum