#principal_index  
  .content_logo
    =image_tag 'logo_storeming.png', width:"500px", height:"200px", alt:"logo"

  .members
    %ul.list_members
      -@user.each do |u|
        %li.box_member
          =image_tag u[:image], alt:u[:name], class: "user_image"
          .info_user
            .name
              =u[:name]
            .details
              =u[:details]
          .bottom
            %a.see_cv{href:"#"}
              Ver Curriculum