@import "global_variables";



#principal_index{
	margin-top	:	$height_header;
}

#header{
	background-color	:	$background_color_header;
	position			:	fixed;
	height 				:	$height_header;
	text-align			:	center;
	width				:	100%;
	
	h1{
		font-size: 40px;
		margin: 0;
	}
}