-api_key="NTcyM2U5YTUtMWYwYS00NWJlLWFkYjYtMmEyYTI0Zjg5ODYy"
%script{type: "text/javascript", id: "snipcart", src:"https://app.snipcart.com/scripts/snipcart.js", data:{"api-key" => "#{api_key}" } }
=stylesheet_link_tag "https://app.snipcart.com/themes/base/snipcart.css", id: "snipcart-theme"


#snipcart
  %a.snipcart-add-item{href:"#", data:{"item-id" =>"2", "item-name" =>"Bacon", "item-price" =>"3.00", "item-weight" =>"20", "item-url" =>"http://myapp.com/products/bacon", "item-description" =>"Some fresh bacon"} }
    Comprar =)
