/********************************************************************************************
***************				Variables Header 			*************************************
*********************************************************************************************/
$body_color							: 	light-gray;
$header_height						:	60px;
$wrapper_width						:	90%;
$wrapper_bg_color					:	#b7df2d;

