@import "global_variables";


$grid-width				: 40px;
$gutter-width			: 10px;

@function grid-width($n) {
  @return $n * $grid-width + ($n) * $gutter-width;
}


$test: grid-width(10);

#principal_index{
	background-color		:	white;
	width					:	$wrapper_width;
	margin-left				: 	auto;
	margin-right			: 	auto;
	box-shadow				: 	1px 1px 1px gray;
	border-radius			: 	10px;
	min-height				:	400px;
	
}

